@media screen and (max-width: 480px) {
<<<<<<< HEAD
  .container {
    width: 100%;
  }
}

.tablinks {
  background-color: #00f7d2;
  border-radius: 100rem;
  color: black;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;

}

.tablinks:hover {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  color: rgb(0, 0, 0);
}

.fa {
  
  color: #002aff;
  font-size: 1.9rem;
  margin: 0.5rem;
  color: rgb(0, 13, 253);
}

.fa:hover {
  /* quede un giro de 360 grados en el icono de facebook al pasar el mouse por encima */
  transform: rotate(360deg);
  transition: all 0.3s ease 0s;
  color: #000;
}

h3 {
  color: #001997;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

h5 {
  color: #000000;
  text-align: center;

}

h4{
  color: #0800fc;
  margin-left: 10%;
}

.img1 {
  width: 90%;
  height: 10erm;
  margin: 0.5rem;
  border-radius: 10%;
  box-shadow: rgba(249, 0, 0, 0.24) 0px 3px 8px;
  transition: all 0.3s ease 0s;

}

.img1:hover {
  transform: scale(1.1);
  transition: all 0.3s ease 0s;
}
=======
    .container {
        width: 100%;
    }
}

/* Style the tab */
.tab {
    float: left;
    border: 1px solid #ccc;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    width: 30%;
    height: 300px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    display: block;
    background-color: inherit;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    height: 300px;
    display: none;
}

body,
html {
    height: 100%;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

* {
    box-sizing: border-box;
}

.responsive {
    width: 100%;
    height: 60%;
>>>>>>> 3fc9fbd4ce637a2b3cb1a75c3ee9627cd8a1bf8b

img{
  width: 10%;
  height: 10%;
}

<<<<<<< HEAD
img:hover{
  transform: scale(1.1);
  transition: all 0.3s ease 0s;
}

h2{
  color: #001997;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.btn{
  /* centramos el boton */
  margin-left: 40%;
  justify-content: center;
  background-image: linear-gradient(120deg, #00f85b 0%, #02a4f5 100%);
  border-radius: 100rem;
  color: black;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: bold;
 
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}

.btn:hover{
  background-image: linear-gradient(120deg, #00e1ff 0%, #00f57b 100%);
  color: rgb(0, 0, 0);
}




body {
  font-family: Arial;
  padding: 20px;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
=======
h3 {
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: 2%;
}

p{
    text-align: center;
    color: rgb(0, 0, 0);
   
}

/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
>>>>>>> 3fc9fbd4ce637a2b3cb1a75c3ee9627cd8a1bf8b
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;

<<<<<<< HEAD
=======
/* Facebook */
.fa-linkedin {

    color: rgb(0, 30, 255);
>>>>>>> 3fc9fbd4ce637a2b3cb1a75c3ee9627cd8a1bf8b
}

/* Fake image */
.fakeimg {
  background-color: rgb(122, 122, 122);
  width: 100%;
  padding: 20px;
}

<<<<<<< HEAD
/* Add a card effect for articles */
.card {
  border: none;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
=======
    color: rgb(0, 72, 255);
}

.btn {
    background-image: linear-gradient(-20deg, #d558c8 0%, #24d292 100%);
    color: rgb(1, 1, 1);
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 50%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
    margin-left: 20%;
>>>>>>> 3fc9fbd4ce637a2b3cb1a75c3ee9627cd8a1bf8b

/* Footer */
.footer {
  padding: 20px;
  margin-left: 16%;
  margin-top: -8%;
  
  color: rgb(0, 57, 244);
}

<<<<<<< HEAD
/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {

  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
=======
.btn:hover {
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    color: rgb(0, 0, 0);
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 50%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
    margin-left: 20%;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

>>>>>>> 3fc9fbd4ce637a2b3cb1a75c3ee9627cd8a1bf8b
